<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlenteumWallet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PlenteumWallet.Properties.Settings>
            <setting name="RPCprotocol" serializeAs="String">
                <value>http</value>
            </setting>
            <setting name="RPCdestination" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="RPCport" serializeAs="String">
                <value>8070</value>
            </setting>
            <setting name="RPCtrailing" serializeAs="String">
                <value>/json_rpc</value>
            </setting>
            <setting name="hasWallet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="walletPath" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultFee" serializeAs="String">
                <value>10</value>
            </setting>
        </PlenteumWallet.Properties.Settings>
    </userSettings>
</configuration>